<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0,  user-scalable=no"
    />
    <meta name="version" content="<%= htmlWebpackPlugin.options.version %>" />
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body ontouchstart>
    <noscript>
      You need to enable JavaScript to visit our site.
    </noscript>
    <section id="root"></section>
  </body>
</html>
